/*header styles*/

.head-block{
	width: 1440px;
	background: #F6F8F9;
}

.div-block1{
	width: 1440px;
	height: 50px;
}

.logo {
	display: inline-block;
	vertical-align: middle;
	margin-right: 80px;
	margin-left: 20px;
}

.img-logo{
	display: inline-block;
}

.navigation{
	width: 1440px;
	background: #F6F8F9;
	vertical-align: middle;
	display: inline-block;
	margin-top: 10px;
	margin-bottom: 15px;
}

.li-list1{
	display: inline-block;
	vertical-align: middle;
	margin-right: 27px;

}
.li-list2{
	display: inline-block;
	vertical-align: middle;
	margin-right: 22px;
}
.li-list3{
	display: inline-block;
	vertical-align: middle;
	margin-right: 22px;
}
.li-list4{
	display: inline-block;
	vertical-align: middle;
	margin-right: 22px;
}
.li-list5{
	display: inline-block;
	vertical-align: middle;
	margin-right: 40px;
}



/*section #1*/

.section-1{
	width: 1440px;
}
.satauri-trend{
	margin-top: 29px;
	margin-bottom: 40px;
	font-size: 24px;
	font font-weight: bold;
}

.top-block{
	width: 1160px;
	display: inline-block;
	margin: 0 auto;
	background-color:#FFFFFF;
	margin-right: 140px;
	margin-left: 140px;

}

.left-block{
	width: 360px;
	height: 350px;
	display: inline-block;
	margin-right: 30px;
}

.loremipsum1{
	margin-top: 66px;
	text-align: justify;
	padding-left: 40px;
	padding-right: 40px;
	padding-bottom: 66px;

}
.middle-block{
	width: 360px;
	height: 350px;
	display: inline-block;
	margin-right: 30px;
}

.loremipsum2{
	margin-top: 66px;
	text-align: justify;
	padding-left: 40px;
	padding-right: 40px;
	padding-bottom: 66px;
}

.right-block{
	width: 360px;
	height: 350px;
	display: inline-block;
}

.loremipsum3{
	margin-top: 66px;
	text-align: justify;
	padding-left: 40px;
	padding-right: 40px;
	padding-bottom: 66px;
}




/* section #2 */

.image-boxs{
	width: 1166px;
	margin: 0 auto;

}
.satauri-happ{
	margin-bottom: 38px;
}
.image-box-1{
	width: 760px;
	display: inline-block;
	vertical-align: top;

}
.image-box-2{
	width: 360px;
	height: 896px;
	display: inline-block;
	vertical-align: top;
}




.image-4{
width: 760px;
margin-bottom: 40px;
}
.image-5{
}

.image-6{
width: 360px;
height: 210px;
margin-bottom: 102px;
}
.image-7{
width: 360px;
height: 210px;
margin-bottom: 102px;
}
.image-8{
width: 360px;
height: 210px;

}
